<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /item_module/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>